.wrapper {
  position: absolute;
  display: flex;
  min-height: 80px;
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: white;
  margin: 15px;
}

.topL {
  top: 0;
  left: 0;
}
.topR {
  top: 0;
  right: 0;
}
.bottomL {
  bottom: 0;
  left: 0;
}
.bottomR {
  bottom: 0;
  right: 0;
}

.border {
  min-height: 100%;
  min-width: 15px;
}

.data {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  font-weight: 900;
}

.heading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.message {
  color: gray;
  font-size: 15px;
}

.close {
  margin: 15px 15px 0 0;
}
